body{
    overflow: hidden;
}

@media screen and (max-width: 480px) {
    header{
        width:100%;
        background-color: #ffffff;
        border-bottom: solid 1px #ededed
    }

    section.main-content{
        width: 100%;
    }
}

@media screen and (min-width: 480px) {
    header{
        width:480px;
        margin: 0 auto;
        background-color: #ffffff;
        border-bottom: solid 1px #ededed
    }


    section.main-content{
        width: 480px;
        margin:0 auto;
        overflow: hidden;
    }
}

.logo{
    width: 100%;
    padding:9px 0;
    line-height: 0;
    background-color:#f4f4f4;
}

.logo img{
    width:auto;
    height:14px;
    margin-left: 2%;
}

.header-box{
    width:96%;
    padding:0 2%;
}

.item-content{
    width:100%;
    position: relative;
    padding-top:15px;
}

.item-img{
    width:72px;
    height:72px;
}

.item-img img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    vertical-align: middle;
}

.item-introduce{
    position: absolute;
    left: 85px;
}
.item-introduce dl{
    -webkit-margin-before:0;
    -webkit-margin-after:0;
}
.item-introduce dt,.item-introduce dd{
    width:100%;
    -webkit-margin-start: 0;
}

.item-introduce-title{
    font-size: 18px;
    color:#000000;
}

.item-introduce-title span{
	    max-width: 70%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-introduce-title .tag-official {
    display: inline-block;
    height: 20px;
    width: 38px;
    position: relative;
    top: -1px;
    left: 5px;
    background: url("https://imgwsdl.vivo.com.cn/appstore/appstoreshare/image/tag-official.png") no-repeat;
    background-size: contain;
}


.item-introduce-download{
    padding:6px 0;
    font-size:12px;
    color:#BBBBBB;
}
.item-introduce-download .yello{
    font-size: 0px;
}

.item-introduce-download .dl-info{
    display: inline-block;
}


.item-introduce-tags{
    font-size: 16px;
    color:#717171;
}


.item-introduce-tags .tag{
    display: inline-block;
    width:50px;
    height:19px;
    margin-right: 5px;
    line-height: 19px;
    text-align: left;
    padding-left: 13px;
    font-size: 12px;
    color:#ffffff;
    background: url("https://imgwsdl.vivo.com.cn/appstore/appstoreshare/image/bg-tag.png") no-repeat;
    background-size: contain;
}

.item-introduce-tags .tag.no-ad{
    padding-left:6px;
}


@media screen and (max-width: 320px) {

    .iconfont{
        font-size: 13px;
    }

    .item-img{
        width:63px;
        height:63px;
    }

    .item-introduce{
        width: 240px;
        left: 70px;
    }

    .item-introduce-title{
        font-size: 13px;
        color:#000000;
    }

    .item-introduce-title .tag-official {
        height: 15px;
        width: 30px;
    }
    .item-introduce-download{
        padding:3px 0;
        font-size:10px;
    }

    .item-introduce-tags .tag{
        height:18px;
        line-height: 18px;
        font-size: 10px;
        padding-left: 10px;
    }
    .item-introduce-tags .tag.no-ad{
        padding-left:3px;
    }


}




.fixed-box{
    width:100%;
    height:35px;
    padding: 20px 0;
    clear: both;
}
div.fixed{
    padding: 0;
    position: fixed;
    z-index: 99;
    left: 0;
    top:0px;
}

.fixed .button-box{
    width: 96%;
    padding: 0 2%;
    text-align: center;
}

.item-operation{
    width: 100%;
    height:35px;
    line-height: 0;
    padding: 0;
    font-size:18px;
    color:#ffffff;
    background-color: #00baff;
    border-radius: 5px;
    border: none;
}


@media screen and (max-width: 320px) {
    .item-operation{
        font-size: 16px;
    }

}


.fixed .item-operation{
    margin-top: 0;
}

@media screen and (min-width: 480px) {
    .fixed .button-box{
        margin: 0 auto;
        width: 480px;
    }

    .fixed .item-operation{
        width:96%;
    }
}


/* .tab-box{
     width:100%;
     background-color: #ffffff;
     border-top: solid 1px #f3f3f3;
     border-bottom: solid 1px #d7d7d7;
     overflow: hidden;
 }

 .fixed-box{
     width:100%;
     height:35px;
 }

 .tab-box ul{
     margin: 0;
     padding: 0;
 }
 .tab-box > ul > li{
     float: left;
     width: 50%;
     height:30px;
     font-weight: 600;
     color: #333;
     line-height: 30px;
     text-align: center;
     border-bottom: solid 3px #ffffff;
 }
 .tab-box li.on{
     border-bottom-color: #00baff;
     color:#00baff;
 }*/






/*------------------------
    详情选项卡
------------------------*/

.comment{
    width:98%;
    line-height: 12px;
    padding:8px 1%;
    color:#959595;
}

.comment small{
    font-size: 12px;
}

.item-box{
    margin-top:8px;
    width: 100%;
}

.item-box .item{
    width: 92%;
    padding:0 3%;
    margin:5px auto;
    background-color: #ffffff;
    border: solid 1px #ededed;
}

.item-box .item dl{
    padding:15px 0;
}

.item-box .item dt{
    height:25px;
    line-height: 25px;
    font-size: 15px;
    color: #020202;
    position: relative;
    margin-bottom: 10px;
}

section.main-content{
    margin-top: 15px;
}

/*-----------------------
    轮播图片
------------------------*/
.gallery{
    position:relative;
    overflow-x: hidden;
    width: 98%;
    height:200px;
    margin: 0 auto;
}
.gallery .img-box{
    position:absolute;
    height:200px;
}

.gallery img{
    float: left;
    width:auto;
    height:200px;
    margin-right:8px;
}

.gallery img:last-child{
    margin-right:0;
}


/*-----------------------
    详情页列表
------------------------*/

.item-box .iconfont{
    font-weight:200!important;
}

.item-box dd,.item-box dd a{
    color:gray;
    text-decoration: none;
    font-size: 14px;
}

.icon-paper-bg{
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    left: 2px;
    top: 1px;
    z-index: 0;
}


.detail .item .iconfont:first-child{
    color: #fff;
    font-size: 18px;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 4px;
    top: 0;
    z-index: 1;
}



@media screen and (max-width: 320px) {

    .detail .item .iconfont:first-child{
        width: 15px;
        height: 15px;
        font-size: 15px;
        top:-3px;
        left:4px;
    }
}


.introduce dt,.recommend dt{
    padding-left: 30px;
}

.introduce .icon-paper-bg{
    background-color: #FFAE04;
}

.introduce .icon-unfold,.introduce .icon-fold{
    font-size: 18px;
    padding:10px;
    margin-top:-10px;
    margin-left:10px;
    color:#828282;
}

.text-content{
    line-height:20px;
    overflow-y: hidden;
}

.fold .text-content{
    height:80px;
}

.recommend .icon-paper-bg{
    background-color: #03B9FF;
}

.item-box .recommend li{
    float:left;
    width:22%;
    margin-right:4%;
    margin-bottom: 10px;
    color:#454545;
    text-align: center;
}

.item-box .recommend li:nth-child(4n){
    margin-right:0;
}

.item-box .recommend li img{
    width: 100%;
    height: auto;
    border-radius: 15%;
}

.item-box .recommend li a{
    font-size: 12px;
}

.stretegy dd,.test dd{
    height:30px;
    line-height: 35px;
    border-top:1px solid #f3f3f3;
}



/*------------------------
    评论选项卡
------------------------*/
.comment-list .item{
    margin:0 auto;
    padding:10px 3%;
    border:none;
}

.comment-list .comment-box{
    border:solid 1px #ededed;
    border-top:none;
}

.comment-list .summary{
    border:solid 1px #ededed;
}

.summary-left{
    width:30%;
    min-width:90px;
    text-align: center;
}

.summary-left .points{
    width:72px;
    height:72px;
    margin: 0 auto;
    line-height: 72px;
    font-size: 30px;
    font-weight: bold;
    color:#ffffff;
    background:url("http://img.wsdl.vivo.com.cn/appstore/appstoreshare/image/bg-points.png") no-repeat;
    background-size: contain;
}

.summary-left .points small{
    color:#ffffff;
    font-size:13px;
}

.summary-left .iconfont{
    color:#FDCF39;
    font-size: 14px;
}

.summary-right{
    width:67%;
    min-width:170px;
    font-size:13px;
}

.stars-percent li{
    height:20px;
    line-height:20px;
    text-align: right;
}

.stars-percent label{
    color:#6A6A6A;
    display: inline-block;
    width:12%;
}

.stars-percent i{
    display: inline-block;
    color:#828282;
    width:20%;
    max-width:50px;
    font-style: normal;
    text-align: right;
}

.summary-right .gradient-box{
    display: inline-block;
    width:65%;
    height:12px;
    margin:1px 1% 0;
    border-radius: 3px;
    position: relative;
    background:-webkit-linear-gradient(left,#56D4ED,#9BFF6A) ;
}

.summary-right .gradient-box span{
    position: absolute;
    height:12px;
    right:0;
    background-color: #EDEDED;
    border-radius: 0 3px 3px  0;
}

.comment-list .comment-box-title{
    margin-top: 5px;
    color:#020202;
    font-size:18px;
    padding-bottom: 0;
    border:solid 1px #ededed;
    border-bottom: none;
}

.comment-item li{
    padding:5px 0;
}

.comment-item .user-info{
    color:#828282;
    font-size: 13px;
}

.comment-item .user-info span,.comment-item .stars .version{
    float:right;
    color:#BBBBBB;
}

.comment-item .comment-content{
    font-size: 14px;
    color:#020202;
}

.comment-item .stars{
    font-size: 13px;
    color:#FDCF39;
}

.full-img-box{
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
}




.full-img-box .tab-page{
    text-align: center;
    background-color: #ffffff;
    line-height: 0;
}